@model fbpm.Models.PaymentSchedule

@{
    ViewBag.Title = "Edit Payment Schedule";
}

<h2>Edit Payment Schedule</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Payment Schedule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ScheduleID)
            @Html.ValidationMessageFor(model => model.ScheduleID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleText)
            @Html.ValidationMessageFor(model => model.ScheduleText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleDate)
            @Html.ValidationMessageFor(model => model.ScheduleDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SchedulePercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SchedulePercentage)
            @Html.ValidationMessageFor(model => model.SchedulePercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookedDate)
            @Html.ValidationMessageFor(model => model.BookedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BookingAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BookingAmount)
            @Html.ValidationMessageFor(model => model.BookingAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleAmount)
            @Html.ValidationMessageFor(model => model.ScheduleAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemainingAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RemainingAmount)
            @Html.ValidationMessageFor(model => model.RemainingAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserDetailsUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserDetailsUserID)
            @Html.ValidationMessageFor(model => model.UserDetailsUserID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "SearchCust")
</div>
