@model IEnumerable<fbpm.Models.UserDetails>

@{
    Layout = null;
}

<h2>List of Customers</h2>

<table>
    <tr>
         <th>
            Select
        </th>
        <th>
            Customer ID
        </th>
        <th>
            Customer Name
        </th>
        <th>
            EMail ID
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Booked Date
        </th>
        <th>
            Booked Amount
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="radio" id="selectuser" name="selectuser" onclick="handleuserselect(this);" value=@item.UserID />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedAmount)
        </td>
    </tr>
}

</table>
<br />
<br />

<div id='PaySched'> Select a Customer for the Payment Schedule</div>

<script type="text/javascript" language="javascript">
    function handleuserselect(myRadio) {
        $.get('@Url.Action("Details", "PaymentSchedule")?id=' + myRadio.value,
        function (viewResult) {
            $("#PaySched").html(viewResult);
        });
    }
</script>