@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") | @Html.ActionLink("Change Password", "ChangePassword", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin"))
{
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("Project", "Index", "ProjectDetails")</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!--<nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Project", "Index", "ProjectDetails")</li>
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                </ul>
            </nav>-->
}
else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Consultant"))
{
    <div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                </ul>
                </div>
            </div>
        </div>
    </div>

    
    <!--<nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                    </ul>
                </nav>-->
}
else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Accountant"))
{
    <div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                    </ul>
                </nav>-->
}
else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Customer"))
{
    <div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Customers", "SearchCust", "User")</li>
                    <li>@Html.ActionLink("Payment Schedule", "SearchCust", "PaymentSchedule")</li>
                    </ul>
                </nav>-->
}