@model IEnumerable<fbpm.Models.FlatDetail>

@{

Layout = null;
}

<!

DOCTYPE html>
<html>
<head>
<title>Details</title>
</head>
<body>
<button type="button" name="CreateFlat" onclick="createflat();"> Add Flat to the Project </button>
<table>
    <tr>
        <th>
        Flat ID
        </th>
        <th>
        Project ID
        </th>
        <th>
        Super Built Up Area
        </th>
        <th>
        Layout Image
        </th>
        <th></th>
        </tr>
        @foreach (var item in Model) {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.FlatID)

        </td>
        <td>
        @Html.DisplayFor(modelItem => item.ProjectID)

        </td>
        <td>
        @Html.DisplayFor(modelItem => item.SuperBuiltUpArea)

        </td>
        <td>
        @Html.DisplayFor(modelItem => item.LayoutImg)

        </td>
        <td>
        @Html.ActionLink("Edit", "EditFlat", new { id = @Html.DisplayFor(modelItem => item.FlatID) }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.FlatID */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.FlatID */ })
        </td>
    </tr>
    }

</table>
<script type="text/javascript" language="javascript">
    function createflat() {
        var url = '@Url.Action("CreateFlat")';
        window.location.href = url;
    }
</script>
</body>
</html>
