@model fbpm.Models.FlatDetail

@{
    ViewBag.Title = "EditFlat";
}

<h2>EditFlat</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>FlatDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FlatID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FlatID)
            @Html.ValidationMessageFor(model => model.FlatID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectID)
            @Html.ValidationMessageFor(model => model.ProjectID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SuperBuiltUpArea)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SuperBuiltUpArea)
            @Html.ValidationMessageFor(model => model.SuperBuiltUpArea)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
