@model IEnumerable<fbpm.Models.ProjectDetail>

@{
    ViewBag.Title = "Index";
}

<h2>List of Projects</h2>
    <button type="button" name="CreateProject" onclick="createproj();"> Create Project </button>
<table>
    <tr>
        <th>
            Select
        </th>
        <th>
            Project ID
        </th>
        <th>
            Project Name
        </th>
        <th>
            No Of Blocks
        </th>
        <th>
            No Of Floors
        </th>
        <th>
            No Of Flats
        </th>
        <th>
            Amenities
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="radio" id="selectproj" name="selectproj" onclick="handleprojselect(this);" value=@item.ProjectID />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfBlocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfFlats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amenities)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<br />
<br />

<div id='ProjSched'> Select a Project for Schedule and Flat Details</div>
<br />
<br />
<div id='FlatDetailcontainer'>Loading...</div>

<script type="text/javascript" language="javascript">
    function handleprojselect(myRadio) {
        $.get('@Url.Action("Details", "ProjectDetails")?id=' + myRadio.value,
        function (viewResult) {
            $("#FlatDetailcontainer").html(viewResult);
        });
        $.get('@Url.Action("Projschedule", "ProjectDetails")?id=' + myRadio.value,
        function (viewResult) {
            $("#ProjSched").html(viewResult);
        });
    }

    function createproj() {
        var url = '@Url.Action("Create")';
        window.location.href = url;
    }
</script>