@model fbpm.Models.UserDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserDetail</legend>

    <div class="display-label">UserID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">EmailID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailID)
    </div>

    <div class="display-label">Contact1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1)
    </div>

    <div class="display-label">Contact2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2)
    </div>

    <div class="display-label">FullAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullAddress)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>

    <div class="display-label">PANNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PANNo)
    </div>

    <div class="display-label">ProjectName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectName)
    </div>

    <div class="display-label">BookedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookedDate)
    </div>

    <div class="display-label">BookedAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookedAmount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
